.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e0f7fa; /* Light cyan background */
    min-height: 100vh;
}

.title {
    font-size: 2.5rem;
    color: #00796b; /* Dark teal color */
    margin-bottom: 20px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.5rem;
    color: #00796b; /* Dark teal color */
    margin-bottom: 10px;
}


.delete-button {
    margin-top: 10px;
    background-color: #d32f2f; /* Red color */
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete-button:hover {
    background-color: #b71c1c; /* Darker red color */
}